html(lang="fr")
  head
    title TP3 de programmation Web
    link(rel="stylesheet" type="text/css" href="style.css")
  body

    header(role="banner")
      h1 TP3 de programmation Web

    main(role="main")
      if error
        p(class="error") #{message}
      form(action="/login" method="post")
        label(for="form-login") Login :
        input(type="text" id="form-login" name="login" required)

        label(for="form-mdp") Mot de passe :
        input(type="password" id="form-mdp" name="mdp" required)

        input(type="submit" value="Se connecter" required)
