html(lang="fr")
  head
    title Accueil
  body
    header(role="main")
      h1 Accueil
      p Bienvenue #{pseudo}

    main(role="main")
      form(action="/deconnexion" method="get")
        input(type="submit" value="Déconnexion")
